<div id="list" class="">
  <%= render("list")  %>
</div>
<%= link_to "+ add", new_post_path, :remote => true, :class => "pull-left btn btn-primary"  %>
<div style="clear: both;"></div>
<div id="form" style="margin-top: 30px;"></div>
